In [1]:
##1
SELECT 
    salary
FROM
    salaries W1
WHERE
    4 = (SELECT 
            COUNT(DISTINCT (W2.salary))
        FROM
            salaries W2
        WHERE
            W2.salary >= W1.salary);

In [2]:
##2
SELECT 
    e.emp_no, e.first_name, s.salary
FROM
    salaries s,
    salaries s1
        JOIN
    employees e ON s1.emp_no = e.emp_no
WHERE
    s.salary = s1.salary
        AND s.emp_no != s1.emp_no;