In [ ]:
##1
SELECT 
    REPLACE(first_name, 'a', 'A')
FROM
    employees;

In [ ]:
##2
SELECT 
    e.first_name, d.dept_name
FROM
    employees e
        JOIN
    dept_emp de ON e.emp_no = de.emp_no
        JOIN
    departments d ON de.dept_no = d.dept_no
ORDER BY e.first_name , d.dept_name DESC;

In [ ]:
##3
SELECT 
    FIRST_NAME, SALARY
FROM
    Worker
WHERE
    SALARY = (SELECT 
            MAX(SALARY)
        FROM
            Worker);