In [1]:
##1
SELECT 
    *
FROM
    employees
WHERE
    (YEAR(hire_date) , MONTH(hire_date)) = (2014 , 2);

In [2]:
##2
SELECT 
    first_name, last_name, COUNT(*) AS duplicates
FROM
    employees
GROUP BY first_name , last_name
HAVING duplicates > 1;

In [3]:
##3
# Delete all duplicates of each entry from table except the max emp_id of that particular entry
DELETE FROM employees 
WHERE
    emp_no NOT IN (SELECT 
        MAX(emp_no) AS Keep_ID
    FROM
        employees
    GROUP BY first_name , last_name);