In [1]:
##1
SELECT 
    *
FROM
    Worker
WHERE
    FIRST_NAME NOT IN ('Vipul' , 'Satish');

In [2]:
##2
SELECT 
    *
FROM
    employees
WHERE
    first_name LIKE '%_____h';

In [3]:
##3
SELECT 
    EmailAdd,
    CASE
        WHEN EmailAdd LIKE '%_@_%_.__%' THEN 'Email Address is Correct'
        ELSE 'Invalid Email Address'
    END AS 'MSG'
FROM
    employees;