In [1]:
##1
 SELECT LEFT(first_name,3) as initials from employees;

In [2]:
##2
 select position("a" in "amitabh") as alpha_position;

In [ ]:
##3
SELECT 
    e.emp_no, e.first_name, d.dept_name, s.salary
FROM
    employees e
        JOIN
    salaries s ON e.emp_no = s.emp_no
        JOIN
    dept_emp de ON s.emp_no = de.emp_no
        JOIN
    departments d ON de.dept_no = d.dept_no
WHERE
    (s.salary , de.dept_no) IN (SELECT 
            MAX(s.salary) AS Emp_Salary, de.dept_no AS Dept_No
        FROM
            salaries s
                JOIN
            dept_emp de ON s.emp_no = de.emp_no
        GROUP BY de.dept_no);