In [3]:
##1
SELECT 
    *
FROM
    employees
WHERE
    MOD(emp_no, 2) != 0;

In [4]:
##2
CREATE TABLE temp_emp 
    AS SELECT * FROM employees;