In [ ]:
##1
SELECT 
    RTRIM(first_name)
FROM
    employees;

In [ ]:
##2
SELECT DISTINCT
    LENGTH(dept_name)
FROM
    departments;

In [ ]:
##3
SELECT 
    salary
FROM
    salaries
ORDER BY salary DESC
LIMIT N;